/* ----------- Font ----------- */
/* ----------- Colors ----------- */
/* ----------- Keyframes ----------- */
@keyframes move_down {
  0% {
    top: -20px;
    transform: translate(0 -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    transform: translate(0 -20px);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
}
a:not(.header__logo) {
  text-decoration: none;
  cursor: pointer;
}
a:not(.header__logo):focus {
  border-bottom: 2px solid #f47b1e;
  padding-bottom: 3px;
}
a:not(.header__logo):active {
  border-bottom: 2px dashed #f47b1e;
  padding-bottom: 3px;
}

.visually-hidden {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #111111;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "h-logo . navbar" ". h-content .";
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  color: #fff;
  background: url(../assets/img/bg/header-bg.jpg) center center/cover no-repeat;
  background-attachment: fixed;
}
@media (max-width: 1154px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: "h-logo h-logo" "navbar navbar" "h-content h-content";
  }
}

.header__logo {
  grid-area: h-logo;
  padding: 0 1em;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1154px) {
  .header__logo {
    margin: auto;
    font-size: 14px;
  }
}
.header__logo .header__logo-gray {
  color: #b1b1b1;
}

.navigation {
  grid-area: navbar;
}
@media (max-width: 1154px) {
  .navigation {
    margin: auto;
  }
}

.navbar__link_first {
  color: #fff;
  cursor: pointer;
}
@media (max-width: 330px) {
  .navbar__link_first {
    font-size: 0.75em;
  }
}

.navbar__link {
  padding: 0 0.3em;
  transition: 0.3s all ease;
  color: #b1b1b1;
  cursor: pointer;
}
@media (max-width: 330px) {
  .navbar__link {
    font-size: 0.75em;
  }
}

.navbar__link:hover {
  color: #f47b1e;
}

.header__content {
  display: grid;
  grid-area: h-content;
  margin: auto;
  text-align: center;
  line-height: 1.5;
}

.header__title {
  font-size: 3em;
  text-transform: uppercase;
}
@media (max-width: 1154px) {
  .header__title {
    font-size: 14px;
  }
}

.header__subtitle {
  padding: 0 0.5em;
}

.header__button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin: auto;
  padding-top: 2em;
  text-transform: uppercase;
  cursor: pointer;
}

.button_learn-more {
  padding: 0.8em;
  line-height: 1.5em;
  border-radius: 3px;
  opacity: 1;
  transition: 0.3s all ease;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.button_learn-more:active {
  color: #f47b1e;
  background-color: #fff;
}
.button_learn-more:focus {
  border: 2px dashed #f47b1e;
}
@media (max-width: 1154px) {
  .button_learn-more {
    padding: 0.4em;
    font-size: 0.75em;
  }
}

.button_learn-more:hover {
  border: 1px solid transparent;
  color: #fff;
  background-color: #f47b1e;
}

.button_get-in-touch {
  padding: 0.8em;
  line-height: 1.5em;
  border-radius: 3px;
  opacity: 1;
  transition: 0.3s all ease;
  color: #fff;
  border: 1px solid transparent;
  background: #f47b1e;
}
.button_get-in-touch:active {
  color: #f47b1e;
  background-color: #fff;
}
.button_get-in-touch:focus {
  border: 2px dashed #fff;
}
@media (max-width: 1154px) {
  .button_get-in-touch {
    padding: 0.4em;
    font-size: 0.75em;
  }
}

.button_get-in-touch:hover {
  border: 1px solid #fff;
  background: transparent;
}

.next-section__link {
  margin: auto;
  font-size: 2.5em;
  line-height: 2;
  color: #fff;
}
.next-section__link .next-section__icon {
  position: relative;
  margin: 2em 0;
  cursor: pointer;
  animation: move_down 2s infinite;
}

.portfolio {
  display: grid;
  grid-auto-flow: row;
  overflow: hidden;
}
@media (max-width: 960px) {
  .portfolio {
    grid-row-gap: 1em;
  }
}

.portfolio__text {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.portfolio__text .portfolio__title {
  padding: 1em;
  font-size: 2em;
  line-height: 2;
  border-bottom: 1px solid #f47b1e;
}
@media (max-width: 960px) {
  .portfolio__text .portfolio__title {
    padding: 2em;
    font-size: 1em;
  }
}

.portfolio__img {
  width: 100%;
  height: 25em;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1024px) {
  .portfolio__img {
    height: 19em;
  }
}
@media (max-width: 768px) {
  .portfolio__img {
    height: 16em;
  }
}
@media (max-width: 480px) {
  .portfolio__img {
    height: 8em;
  }
}
@media (max-width: 320px) {
  .portfolio__img {
    height: 7em;
  }
}

.portfolio__img:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 22;
}

.gallery__row-top {
  display: grid;
  grid-auto-flow: column;
  grid-row-gap: 1em;
}

.gallery__item-first {
  background: url(../assets/img/gallery-layout/1.jpg) center center/cover no-repeat;
}

.gallery__item-second {
  background: url(../assets/img/gallery-layout/2.jpg) center center/cover no-repeat;
}

.gallery__item-third {
  background: url(../assets/img/gallery-layout/3.jpg) center center/cover no-repeat;
}

.gallery__row-bottom {
  display: grid;
  grid-auto-flow: column;
  grid-row-gap: 1em;
}

.gallery__item-fourth {
  background: url(../assets/img/gallery-layout/4.jpg) center center/cover no-repeat;
}

.gallery__item-fifth {
  background: url(../assets/img/gallery-layout/5.jpg) center center/cover no-repeat;
}

.gallery__item-sixth {
  background: url(../assets/img/gallery-layout/6.jpg) center center/cover no-repeat;
}

.about-me {
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  color: #fff;
}

.about-me__img {
  position: relative;
  top: 1.875em;
  width: 20%;
  margin: 3em auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.about-me__title {
  padding: 1em;
  font-size: 2em;
  line-height: 2;
  border-bottom: 1px solid #f47b1e;
}
@media (max-width: 960px) {
  .about-me__title {
    padding: 2em;
    font-size: 1em;
  }
}

.about-me__text {
  padding: 1em 15em;
  line-height: 2;
}
@media (max-width: 960px) {
  .about-me__text {
    padding: 1em 4em;
  }
}

.about-me__counters {
  display: grid;
  grid-auto-flow: column;
}
.about-me__counters .counters__wrapper {
  padding: 4em 1em;
  line-height: 2;
}
.about-me__counters .counters__number {
  font-size: 3em;
}
@media (max-width: 960px) {
  .about-me__counters .counters__number {
    font-size: 2em;
  }
}

.reviews {
  padding: 15em 0;
  text-align: center;
  background: url(../assets/img/bg/slider-bg.jpg) center center/cover no-repeat;
  background-attachment: fixed;
  color: #fff;
}
@media (max-width: 960px) {
  .reviews {
    padding: 5em 0;
  }
}

.reviews__title {
  font-size: 1.7em;
  line-height: 2;
  border-bottom: 1px solid #f47b1e;
}
@media (max-width: 960px) {
  .reviews__title {
    padding: 0 1em;
    font-size: 0.75em;
  }
}

.reviews__text {
  margin-bottom: 4em;
  padding: 0 1em;
  line-height: 2;
}

.slide__business-card {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.5fr 1fr;
  grid-template-areas: ". bc-photo bc-info .";
  padding: 5em 0;
  align-items: center;
}
@media (max-width: 960px) {
  .slide__business-card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "bc-photo" "bc-info";
    padding: 0;
    justify-items: center;
  }
}

.slide__text {
  padding: 2px 5px;
  line-height: 2;
}

.business-card__photo {
  grid-area: bc-photo;
  width: 5em;
  border-radius: 50%;
}

.business-card__info {
  grid-area: bc-info;
}

.business-card__position__link {
  color: #f47b1e;
}

.services {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.5em;
  padding: 4em 0;
  color: #fff;
}

.services__title {
  padding: 1em;
  font-size: 2em;
  line-height: 2;
  border-bottom: 1px solid #f47b1e;
  margin: auto;
  text-align: center;
}
@media (max-width: 960px) {
  .services__title {
    padding: 2em;
    font-size: 1em;
  }
}

.services__wrapper {
  display: grid;
  grid-auto-flow: column;
  padding: 1em 2em;
}

.services__item {
  display: grid;
  grid-auto-flow: column;
}
@media (max-width: 960px) {
  .services__item {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1.5em;
  }
}

.services__content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
@media (max-width: 960px) {
  .services__content {
    display: grid;
    grid-auto-flow: row;
  }
}

.services__icon {
  margin: 0 1.5em;
  padding: 1.5em;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media (max-width: 960px) {
  .services__icon {
    margin: auto;
  }
}

.services__text {
  line-height: 2;
}
@media (max-width: 960px) {
  .services__text {
    text-align: center;
  }
}
.services__text .services__subtitle {
  font-size: 14px;
}

.contact {
  display: grid;
  grid-auto-flow: row;
  padding: 5em 0;
  background: #f47b1e;
  background-attachment: fixed;
}

.contact__text {
  text-align: center;
}

.contact__title {
  font-size: 2em;
  line-height: 2;
  color: #fff;
}
@media (max-width: 960px) {
  .contact__title {
    padding: 2em;
    font-size: 14px;
  }
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: ". c-form-item ." ". c-form-textarea ." ". c-form-button .";
  grid-gap: 0.5em;
}
@media (max-width: 960px) {
  .contact__form {
    grid-template-rows: 1fr 2fr 0.5fr;
  }
}

.form__wrapper {
  grid-area: c-form-item;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
}
@media (max-width: 960px) {
  .form__wrapper {
    display: grid;
    grid-auto-flow: row;
  }
}

.form__item {
  padding: 0 1em;
  font-size: 1em;
  line-height: 2;
  border: 2px solid #fff;
  outline: none;
  background: transparent;
}
@media (max-width: 960px) {
  .form__item {
    font-size: 14px;
  }
}

.form__item::placeholder {
  color: #fff;
}

.form__message {
  grid-area: c-form-textarea;
  padding: 5px;
  resize: none;
  padding: 0 1em;
  font-size: 1em;
  line-height: 2;
  border: 2px solid #fff;
  outline: none;
  background: transparent;
}
@media (max-width: 960px) {
  .form__message {
    font-size: 0.75em;
  }
}

.form__message::placeholder {
  color: #fff;
}

.contact__button {
  grid-area: c-form-button;
  border: 2px solid #fff;
  font-size: 1em;
  outline: none;
  transition: 0.3s all ease;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
.contact__button:active {
  color: #f47b1e;
  background-color: #fff;
}
.contact__button:focus {
  border: 2px dashed #fff;
}
@media (max-width: 960px) {
  .contact__button {
    font-size: 14px;
  }
}

.contact__button:hover {
  border: 2px solid transparent;
  background: #111111;
  color: #f47b1e;
}

.footer__text {
  padding: 2em 0;
  text-align: center;
  color: #fff;
}

.footer__title {
  font-size: 2em;
}
@media (max-width: 960px) {
  .footer__title {
    margin: 0.5em;
    font-size: 14px;
    line-height: 2;
  }
}

.social__links {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr;
  grid-template-areas: "footer_link footer_link footer_link";
  grid-gap: 0.5em;
  justify-content: center;
  padding: 4em 0;
}

.social__link {
  margin: auto;
}

.social__icon {
  grid-area: footer_link;
  padding: 1em;
  font-size: 2em;
  border: 4px solid #fff;
  box-shadow: 0 0 0 rgba(250, 250, 250, 0.4);
  border-radius: 50%;
  color: #fff;
  animation: pulse 2s infinite;
  cursor: pointer;
}
@media (max-width: 960px) {
  .social__icon {
    margin: auto;
    padding: 0.7em;
    font-size: 14px;
    border: 2px solid #fff;
  }
}

/*# sourceMappingURL=main.css.map */
